@{
    ViewBag.Title = "Index";
}
<div class="article-list front">
    <article>
        <h2>
            En salatskål - er ikke bare en salatskål...</h2>
        <p>
            Nej, en salatskål fra det århusianske firma Ego skal være både flot, fræk og ikke
            mindst funktionel. Fx med en forhøjning i midten, hvor salatbestikket kan hvile,
            mener direktør i Ego, Michael Bruun, og designer Steffen Schmelling. Sammen står
            de bag en række lækre produkter til køkken og spisebord.
        </p>
        <p>
            - Vores design er lidt en reaktion på noget, der har været meget af, nmelig "holderen
            til holderen" - design for designets skyld. Det skal være super funktionelt og samtidig
            noget der overrasker brugeren, mener Michael Bruun. Både indkøbere og kunder har
            taget overmåde godt imod produkterne, som også møder succes internationalt, og de
            vil være at finde i butikkerne fra juni 2006.
        </p>
    </article>
    <article>
        <h2>
            En salatskål - er ikke bare en salatskål...</h2>
        <p>
            Nej, en salatskål fra det århusianske firma Ego skal være både flot, fræk og ikke
            mindst funktionel. Fx med en forhøjning i midten, hvor salatbestikket kan hvile,
            mener direktør i Ego, Michael Bruun, og designer Steffen Schmelling. Sammen står
            de bag en række lækre produkter til køkken og spisebord.
        </p>
        <p>
            - Vores design er lidt en reaktion på noget, der har været meget af, nmelig "holderen
            til holderen" - design for designets skyld. Det skal være super funktionelt og samtidig
            noget der overrasker brugeren, mener Michael Bruun. Både indkøbere og kunder har
            taget overmåde godt imod produkterne, som også møder succes internationalt, og de
            vil være at finde i butikkerne fra juni 2006.
        </p>
    </article>
</div>