@{
    ViewBag.Title = "Deleted";
}
<div class="page-header">
    <h2>
        Designeren er slettet</h2>
</div>
<p>
    Designeren er blevet slettet fra databasen
</p>
<p>
    @Html.ActionLink("Gå til oversigten", "Index")
</p>
