@{
    ViewBag.Title = "Deleted";
}
<div class="page-header">
    <h2>
        Designeren blev ikke fundet</h2>
</div>
<p>
    Designeren fandtes ikke i databasen..
</p>
<p>
    @Html.ActionLink("Gå til oversigten", "Index")
</p>
