<section class="contact-information">
    <h2>Kontakt oplysninger</h2>
    <div class="container">
        <address>
            <span><b>CMK</b> Møbler</span>
            <span>Esplanaden 52</span>
            <span>2100 København K</span>
        </address>
        <dl>
            <dt>
                Telefon
            </dt>
            <dd>
                3363 3363
            </dd>
            <dt>
                Telefax
            </dt>
            <dd>
                3363 4108
            </dd>
        </dl>
    </div>
</section>