<section class="highlighted-furniture">
    <div class="container">
        <img src="../../Content/DATA/sofa/brisbane_sort.jpg" alt="møbel" />
        <dl>
            <dt>Møbel serie: </dt>
            <dd>
                Sofa
            </dd>
            <dt>Designer: </dt>
            <dd>
                Oliver Lassen
            </dd>
            <dt>Design år: </dt>
            <dd>
                2004
            </dd>
            <dt>Pris: </dt>
            <dd>
                22.999 kr.
            </dd>
        </dl>
        <a href="#">mere info</a>
    </div>
</section>
