@{
    ViewBag.Title = "SearchResult";
}
<div class="furniture-search-results">
    <section>
        <a href="#">
            <img src="/Content/DATA/sofabord/bari_valnut.jpg" alt="sofa" />
            <div>
                <h2>
                    Less</h2>
                <p>
                    Less er det seneste bud på en danskproduceret kvalitetssofa, der repræsenterer det
                    bedste i CMK møblers designfilosifi. Gennemført kvalitet til menneskelige priser.
                    Det er eget design helt... Less er det seneste bud på en danskproduceret kvalitetssofa,
                    der repræsenterer det bedste i CMK møblers designfilosifi. Gennemført kvalitet til
                    menneskelige priser. Det er eget design helt...
                </p>
            </div>
        </a>
    </section>
    <div class="seperator"></div>
    <section>
        <a href="#">
            <img src="/Content/DATA/sofabord/bari_valnut.jpg" alt="sofa" />
            <div>
                <h2>
                    Less</h2>
                <p>
                    Less er det seneste bud på en danskproduceret kvalitetssofa, der repræsenterer det
                    bedste i CMK møblers designfilosifi. Gennemført kvalitet til menneskelige priser.
                    Det er eget design helt...
                </p>
            </div>
        </a>
    </section>
</div>
