@{
    ViewBag.Title = "Show";
}
<article class="funiture-display">
    <h1>
        Less</h1>
    <div class="images">
        <img alt="sofa" src="/Content/DATA/sofa/less_rod.jpg" />
        <div class="others">
            <h1>
                Andre varianter</h1>
            <img alt="sofa" src="/Content/DATA/sofa/less_rod.jpg" />
            <img alt="sofa" src="/Content/DATA/sofa/less_rod.jpg" />
            <img alt="sofa" src="/Content/DATA/sofa/less_rod.jpg" />
            <img alt="sofa" src="/Content/DATA/sofa/less_rod.jpg" />
        </div>
    </div>
    <div class="specifications">
        <p>
            Less er det seneste bud på en danskproduceret kvalitetssofa, der repræsenterer det
            bedste i CMK møblers designfilosifi. Gennemført kvalitet til menneskelige priser.
            Det er eget design helt fra bunden med en kerne i massivt træ og polstring i det
            bedste skum. Derfor er der også 7 års garanti mod deformation på puderne. Ben i
            rustfrit stål.
        </p>
        <dl>
            <dt>Pris: </dt>
            <dd>
                22.999 kr.
            </dd>
            <dt>Designer: </dt>
            <dd>
                Oliver Lassen
            </dd>
            <dt>Møbel serie: </dt>
            <dd>
                Sofa
            </dd>
            <dt>Design år: </dt>
            <dd>
                2004
            </dd>
            <dt>Varenummer: </dt>
            <dd>
                12345678
            </dd>
        </dl>
    </div>
</article>
