@model CreateArticlesViewModel
@{
    ViewBag.Title = "Create";
    ViewBag.JavaScriptValidation = true;
}
<div class="page-header">
    <h2>
        Skriv artikel</h2>
</div>
@using (Html.BeginForm("Create", "Articles", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.PartialFor(x => x.ArticleForm, "_ArticleForm");
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">
            Gem ændringer</button>
        <button type="button" class="btn" onclick="location.href='@Url.Action("Index", "Articles")'">
            Annuler</button>
    </div>
}
